{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimen Analysis</title>
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">

</head>
<body>
    
    <div class="container mt-5 justify-content-center"  align="center">      
        <div class="row justify-content-center">      
            <div class="col-md-3">
                <select class="custom-select" id="data1" name="data1">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="PegiPegi">Pegipegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>              
                
                <img src="{% static "images/oyo.png" %}" class="mt-3 mb-3" width="100%" height="auto" alt="My image" id="logo1">
                <canvas id="myChart1" style="height:auto; width:80%">
                   
                </canvas>

            </div>
           
            <div class="col-md-2 text-center">
                <h4>Bandingkan</h4>
                
            </div>
            <div class="col-md-3">
                <select class="custom-select" id="data2" name="data2">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="Pegi-Pegi">Pegi-Pegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>

                <img src="{% static "images/oyo.png" %}" class="mt-3 mb-3" width="100%" height="auto" alt="My image" id="logo2">
                <canvas id="myChart2" style="height:auto; width:80%"></canvas>

            </div>
       
        </div>
    
    </div>

<script src="{% static "vendor/js/jquery-3.2.1.slim.min.js" %}"></script>
<script src= "{% static "vendor/js/bootstrap.min.js" %}" ></script>
<script src="{% static "vendor/js/chart.js" %}"></script>

<script> 
     
  $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

    
    $("#data1").change(function() {
        let value = $(this).val()
        let dir = "{% static 'images/' %}" + `${value}.png`
        console.log(dir)
        $.ajax({
            type: "POST",
            url: "{% url 'store' %}",
            type: "JSON",
            data: {
                value: value
            },
            success: function(data) {
                console.log("sukses")
                $("#logo1").attr("src", dir)
            },
            error: function(data) {
                console.log(data)
            }
        })
    })

    $("#data2").change(function() {
        let value = $(this).val()
        let dir = "{% static 'images/' %}" + `${value}.png`
        console.log(dir)
        $.ajax({
            type: "POST",
            url: "{% url 'store' %}",
            type: "JSON",
            data: {
                value: value
            },
            success: function(data) {
                console.log("sukses")
                $("#logo2").attr("src", dir)
            },
            error: function(data) {
                console.log(data)
            }
        })
    })

</script>


<script>
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    data = {
    datasets: [{
        data: [10, 20],
        backgroundColor: [
                'rgb(61, 145, 204)', //positif biru          
                'rgb(230, 18, 7)', //merah negatif                 
            ],
        
        borderColor: [
            
            'rgb(61, 145, 204)',
            'rgb(230, 18, 7)'
        ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Positif',
        'Negatif',
        
        ]
    };

  
    var myDoughnutChart = new Chart(ctx1, {
        type: 'doughnut',
        data: data,
        options: {
         
        }
    });

    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: data,
        // options: options
    });
</script>
</body>
</html>