{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimen Analysis</title>
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">

    <style>
 
    </style>
</head>
<body>
    
    <div class="container mt-5 justify-content-center"  align="center">      
        <div class="row justify-content-center">      
            <div class="col-md-3">
                <select class="custom-select" name="data1">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="Pegi-Pegi">Pegi-Pegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>
               

            </div>
           
            <div class="col-md-2 text-center">
                <h4>Bandingkan</h4>
                
            </div>
            <div class="col-md-3">
                <select class="custom-select" name="data2">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="Pegi-Pegi">Pegi-Pegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>
            </div>
       
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img src="{% static "images/oyo.png" %}" alt="My image">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <img src="{% static "images/oyo.png" %}" alt="My image">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3">
                <canvas id="myChart1">
                    <p>Hello Fallback World</p>
                </canvas>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <canvas id="myChart2"></canvas>
            </div>
            
        </div>

        
      
    </div>

<script src="{% static "vendor/js/jquery-3.2.1.slim.min.js" %}"></script>
<script src= "{% static "vendor/js/bootstrap.min.js" %}" ></script>
<script src="{% static "vendor/js/chart.js" %}"></script>


<script>
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    data = {
    datasets: [{
        data: [10, 20],
        backgroundColor: [
                'rgb(61, 145, 204)', //positif biru          
                'rgb(230, 18, 7)', //merah negatif                 
            ],
        
        borderColor: [
            
            'rgb(61, 145, 204)',
            'rgb(230, 18, 7)'
        ]
    }],

    


    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Positif',
        'Negatif',
        
        ]
    };

  
    var myDoughnutChart = new Chart(ctx1, {
        type: 'doughnut',
        data: data,
        options: {
         
        }
    });

    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: data,
        // options: options
    });
</script>
</body>
</html>