{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sentiment Analysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

    <!-- Codingan Awal -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimen Analysis</title>
    <!-- <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}"> -->
    <link rel="stylesheet" href="{% static "vendor/jquery-loading/demo.css" %}">

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "vendor/css/bootstrap.css" %}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static "vendor/css/owl.carousel.css" %}">
	<link rel="stylesheet" href="{% static "vendor/css/owl.theme.default.min.css" %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "vendor/css/animate.css" %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "vendor/css/style.css" %}">
</head>
<body>

<div id="page-wrap">

	<!-- ==========================================================================================================
													   HERO
		 ========================================================================================================== -->

	<div id="fh5co-hero-wrapper" style="background: url('https://drive.google.com/file/d/10pHjZPyDHcllLG748AhSIGFc85y-aqEn/view?usp=sharing')  no-repeat center;">
		
		<nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
			<a class="navbar-brand" href="">Website</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-items-center ml-auto mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Beranda<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="$('#fh5co-advantages').goTo();return false;">Bandingkan Aplikasi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="$('#fh5co-slider').goTo();return false;">Daftar Aplikasi</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#"  onclick="$('#fh5co-download').goTo();return false;">Download</a>
					</li> -->
				</ul>
				<div class="social-icons-header">
					<!-- <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
					<a href="https://freehtml5.co"><i class="fab fa-instagram"></i></a>
					<a href="https://www.twitter.com/fh5co"><i class="fab fa-twitter"></i></a> -->
				</div>
			</div>
		</nav>

		<div class="container fh5co-hero-inner">
			<h1 class="animated fadeIn wow" data-wow-delay="0.4s">Analisis Sentimen Aplikasi Online Hotel Booking</h1>
			<p class="animated fadeIn wow" data-wow-delay="0.67s">Membantu pengguna dalam pengambilan keputusan. Data didapatkan secara real-time. </p>
			<button class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" onclick="$('#fh5co-advantages').goTo();return false;">Bandingkan</button>
			<button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s" onclick="$('#fh5co-slider').goTo();return false;">Daftar Aplikasi</button>
			<img class="fh5co-hero-smartphone animated fadeInRight wow" data-wow-delay="1s" src="{% static "images/phone-image.png" %}"  alt="Smartphone">
		</div>


	</div> <!-- first section wrapper -->

<!-- ==========================================================================================================
													 ADVANTAGES
		 ========================================================================================================== -->
         <div id="fh5co-advantages">
            <div class="fh5co-advantages-outer">
                <div class="container">
                    <h1 class="second-title"><span class="span-perfect">Bandingkan</span> <span class="span-features">Aplikasi</span></h1>
                    <small>*10 Aplikasi Online Hotel Booking</small>
        
                    <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">

    <div class="container mt-3 justify-content-center"  align="center">          

    <h3 class="text-center mt-3">Sentimen Analysis</h3>
    <p class="text-center">Perbandingan Aplikasi Hotel Booking</p>
 

    <div class="container mt-3 justify-content-center"  align="center">  
        <div class="row justify-content-center mb-4">
            <div class="col-md-2">
                <select class="custom-select" id="jumlah_data" name="jumlah_data">
                    <option value="0" selected>Jumlah data</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>                    
                </select> 
            </div>
 
        </div>
        <div class="row justify-content-center"> 

        </div>    
        <div class="row justify-content-center">      

            <div class="col-md-3" id="loading-data1">
                <select class="custom-select" id="data1" name="data1">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="PegiPegi">Pegipegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>              
               
                <img src="{% static "images/Oy.png" %}" class="mt-3 mb-3" width="70%" height="40%" alt="My image" id="logo1">
                <div id="chart1">
                    <canvas id="myChart1" style="height:auto; width:70%;"></canvas>
                    <h4 id="akurasi1"></h4>
                </div>

            </div>
           
            <div class="col-md-2 text-center">

                <h4>vs</h4>
              <h4>Bandingkan</h4>                

            </div>
            <div class="col-md-3" id="loading-data2">
                <select class="custom-select" id="data2" name="data2">
                    <option selected>Pilih menu</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Booking.com">Booking.com</option>
                    <option value="Tiket.com">Tiket.com</option>
                    <option value="Airy">Airy</option>
                    <option value="Mister Aladin">Mister Aladin</option>
                    <option value="Pegi-Pegi">Pegi-Pegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="Trivago">Trivago</option>
                </select>
 
                <img src="{% static "images/Oy.png" %}" class="mt-3 mb-3" width="70%" height="40%" alt="My image" id="logo2">
                <div id="chart2" style="display: none;">
                    <canvas id="myChart2" style="height:auto; width:70%;"></canvas>
                    <h4 id="akurasi2"></h4>
                </div>
            </div>
        </div>
    </div>

    	<!-- ==========================================================================================================
													  SLIDER
		 ========================================================================================================== -->
         <div id="fh5co-slider">
            <div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">
                <h1>DAFTAR APLIKASI</h1>
                <small>*10 Aplikasi Online Hotel Booking</small>
                <div class="container fh5co-slider-inner">
        
                    <div class="owl-carousel owl-theme">
                        <div class="item"><img src="{% static "images/Airy.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Traveloka.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/oyo.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Booking.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Trivago.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Aladin.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/RedDoorz.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Pegipegi.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/tiket.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Agoda.png" %}" alt=""></div>
        
                    </div>
                    </div>
                </div>
            </div>
        

	<!-- ==========================================================================================================
                                               SECTION 7 - SUB FOOTER
    ========================================================================================================== -->

	<footer class="footer-outer">
		<div class="container footer-inner">

			<div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
				<div class="column-1-3">
					<h1>Website</h1>
				</div>
				<div class="column-2-3">
					<nav class="footer-nav">
						<ul>
							<a href="#" onclick="$('#fh5co-hero-wrapper').goTo();return false;"><li>Beranda</li></a>
							<a href="#" onclick="$('#fh5co-features').goTo();return false;"><li>Daftar Aplikasi</li></a>
							<a href="#" onclick="$('#fh5co-reviews').goTo();return false;"><li>Bandingkan</li></a>
							<a href="#" onclick="$('#fh5co-download').goTo();return false;"><li class="active">Download</li></a>
						</ul>
					</nav>
				</div>
				<div class="column-3-3">
					<div class="social-icons-footer">
						<a href="https://www.facebook.com/fh5co"><i class="fab fa-facebook-f"></i></a>
						<a href="https://freehtml5.co"><i class="fab fa-instagram"></i></a>
						<a href="https://www.twitter.com/fh5co"><i class="fab fa-twitter"></i></a>
					</div>
				</div>
			</div>

			<span class="border-bottom-footer"></span>

			<p class="copyright">&copy; 2020 Website. All rights reserved.</p>

		</div>
	</footer>

</div> <!-- main page wrapper -->

<script src="{% static "vendor/js/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "vendor/js/bootstrap.min.js" %}" ></script>
<script src="{% static "vendor/js/chart.js" %}"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.2/randomColor.min.js"></script>
<script src="{% static "vendor/js/jquery.min.js" %}"></script>
<script src="{% static "vendor/jquery-loading/dist/jquery.loading.js" %}"></script>


<!-- <script src="{% static "vendor/js/bootstrap.js" %}"></script> -->
<script src="{% static "vendor/js/owl.carousel.js" %}"></script>
<script src="{% static "vendor/js/wow.min.js" %}"></script>
<script src="{% static "vendor/js/main.js" %}"></script>
<script> 
</script>
<script>
  
</script>

<script> 

    var positif1 = []
    var negatif1 = []
    var positif2 = []
    var negatif2 = []
    var jumlahDataScrapping = 0;
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $("#data1").change(function() {
        let value = $(this).val()
        let dir = "{% static 'images/' %}" + `${value}.png`
        jumlahDataScrapping = $("#jumlah_data").val()

        if(jumlahDataScrapping != "0"){
        $('#loading-data1').loading();
        $("#data2").attr("disabled", "true")
        $("#jumlah_data").attr("disabled", "true")
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "{% url 'store' %}",           
            data: {
                value: value,
                jumlahDataScrapping: jumlahDataScrapping 
            },
            success: function(data) {        
              
                $("#data2").removeAttr("disabled")
                $("#jumlah_data").removeAttr("disabled")
                let length = Object.keys(data.label).length
                for(i=0;i<length;i++){
                    if(data.label[i] == 1){
                        positif1.push(data.label[i])               
                    }else{
                        negatif1.push(data.label[i]) 
                    }  
                }

                $("#loading-data1").loading('stop')
                $("#logo1").attr("src", dir)
                donnutChart1(positif1.length, negatif1.length);
               
                $("#chart1").css("display", "")               
                $("#akurasi1").html("Akurasi : " + data.akurasi[0] * 100 + "%")
            },
            error: function(data) {
                $("#loading-data1").loading('stop')
                alert("Proses terhenti");
                $("#data2").removeAttr("disabled")
                console.log(data)
            }
        })
    } else {
            alert("Jumlah data harus diisi dulu ya :-)")
        }  
        if(jumlahDataScrapping != "0"){
            $('#loading-data1').loading();
            $("#data2").attr("disabled", "true")
            $("#jumlah_data").attr("disabled", "true")
                $.ajax({
                type: "POST",
                dataType: "JSON",
                url: "{% url 'store' %}",           
                data: {
                    value: value,
                    jumlahDataScrapping: jumlahDataScrapping  
                },
                success: function(data) {       
                   
                    $("#data2").removeAttr("disabled")
                    $("#jumlah_data").removeAttr("disabled")
                    let length = Object.keys(data.label).length
                    for(i=0;i<length;i++){
                        if(data.label[i] == 1){
                            positif1.push(data.label[i])               
                        }else{
                            negatif1.push(data.label[i]) 
                        }
                        
                    }

                    $("#loading-data1").loading('stop')
                    $("#logo1").attr("src", dir)
                    donnutChart1(positif1.length, negatif1.length);
                
                    $("#chart1").css("display", "")               
                    $("#akurasi1").html("Akurasi : " + data.akurasi[0] + "%")
                },
                error: function(data) {
                    $("#loading-data1").loading('stop')
                    alert("gagal scrapping");
                    $("#data2").removeAttr("disabled")
                    console.log(data)
                }
            })
        } else {
            alert("Jumlah data harus diisi dulu ya :-)")
        }
        

    })

    $("#data2").change(function() {
        let value = $(this).val()
        jumlahDataScrapping = $("#jumlah_data").val()
        let dir = "{% static 'images/' %}" + `${value}.png`


        if(jumlahDataScrapping !=0){
        $("#jumlah_data").attr("disabled", "true")
        $('#loading-data2').loading();
        $("#data1").attr("disabled", "true")
        $.ajax({
            type: "POST",
            url: "{% url 'store' %}",           
            data: {
                value: value,
                jumlahDataScrapping: jumlahDataScrapping                 
            },
            success: function(data) {                
                $("#loading-data2").loading('stop')
                $("#logo2").attr("src", dir)
                $("#data1").removeAttr("disabled")
                $("#jumlah_data").removeAttr("disabled")
                let length = Object.keys(data.label).length
                    for(i=0;i<length;i++){
                        if(data.label[i] == 1){
                            positif2.push(data.label[i])               
                        }else{
                            negatif2.push(data.label[i]) 

        
                        }
                    }
                error: function(data) {
                    $("#loading-data2").loading('stop')
                    alert("gagal scrapping");
                    $("#data1").removeAttr("disabled")
                    console.log(data)
                }
            })
        } else {
            alert("Jumlah data harus diisi dulu ya :-)")
        }
    })

    function donnutChart1(positif, negatif)
    {
        data = {
        datasets: [{
            data: [positif, negatif],
            backgroundColor: [
                    'rgb(61, 145, 204)', //positif biru          
                    'rgb(230, 18, 7)', //merah negatif                 
                ],
            weight: 0.5,
            borderColor: [
                
                'rgb(61, 145, 204)',
                'rgb(230, 18, 7)'
            ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Positif',
            'Negatif',
            
            ]
        };

        Chart.pluginService.register({
            beforeDraw: function (chart) {
                if (chart.config.options.elements.center) {
            //Get ctx from string
            var ctx = chart.chart.ctx;
            
                    //Get options from the center object in options
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial'; 
                    var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
            //Start with a base font of 30px
            ctx.font = "30px " + fontStyle;
            
                    //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

            // Find out how much the font can grow in width.
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (chart.innerRadius * 2);

            // Pick a new font size so it will not be larger than the height of label.
            var fontSizeToUse = Math.min(newFontSize, elementHeight);

                    //Set font settings to draw it correctly.
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse+"px " + fontStyle;
            ctx.fillStyle = color;
            
            //Draw text in center
            ctx.fillText(txt, centerX, centerY);
                }
            }
        });


        var myDoughnutChart = new Chart(ctx1, {
            type: 'doughnut',
            data: data,
            options: {
                elements: {
                    center: {
                    text: positif,
                    color: '#36A2EB', //Default black
                    fontStyle: 'Helvetica', //Default Arial
                    sidePadding: 15 //Default 20 (as a percentage)
                    }
                }
            }
        });
    }


    function donnutChart2(positif, negatif)
    {
        data = {
        datasets: [{
            data: [positif, negatif],
            backgroundColor: [
                    'rgb(61, 145, 204)', //positif biru          
                    'rgb(230, 18, 7)', //merah negatif                 
                ],
            weight: 0.5,
            borderColor: [
                
                'rgb(61, 145, 204)',
                'rgb(230, 18, 7)'
            ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Positif',
            'Negatif',
            
            ]
        };

        Chart.pluginService.register({
            beforeDraw: function (chart) {
                if (chart.config.options.elements.center) {
            //Get ctx from string
            var ctx = chart.chart.ctx;
            
                    //Get options from the center object in options
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial';
                    var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
            //Start with a base font of 30px
            ctx.font = "30px " + fontStyle;
            
                    //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

            // Find out how much the font can grow in width.
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (chart.innerRadius * 2);

            // Pick a new font size so it will not be larger than the height of label.
            var fontSizeToUse = Math.min(newFontSize, elementHeight);

                    //Set font settings to draw it correctly.
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse+"px " + fontStyle;
            ctx.fillStyle = color;
            
            //Draw text in center
            ctx.fillText(txt, centerX, centerY);
                }
            }
        });


        var myDoughnutChart = new Chart(ctx2, {
            type: 'doughnut',
            data: data,
            options: {
                elements: {
                    center: {
                    text: positif,
                    color: '#36A2EB', //Default black
                    fontStyle: 'Helvetica', //Default Arial
                    sidePadding: 15 //Default 20 (as a percentage)
                    }
                }
            }
        });
    }

</script>

</body>
</html>